.form {
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  gap: 8px;
  margin: auto;
  padding: 40px 100px;
}

.title {
  color: #2fc18c;
  font-size: 28px;
  font-style: italic;
  font-weight: 800;
  line-height: 29px;
  margin-bottom: 12px;
  text-transform: uppercase;
}
