.filter-container {
  align-items: center;
  background-color: #036b52;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  display: flex;
  font-size: 14px;
  font-weight: 400;
  gap: 16px;
  padding: 15px;
}

.filter-container > label {
  font-family: Epilogue , sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.filter-container input, .filter-rarity {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 6px;
  color: white;
  flex: 1;
  font-size: 14px;
  outline: none;
  padding: 16px 12px;
}

.filter-container *:disabled, .filter-container *:disabled::placeholder {
  border-color: rgba(200, 200, 200, 0.7);
  color: rgba(200, 200, 200, 0.7);
}


.filter-container input::placeholder {
  color: white;
}

.filter-rarity option {
  color: black;
}

.filter-trunfo {
  accent-color: white;
  align-items: center;
  display: flex;
  gap: 8px;

}
