.wrapper.outlined {
  align-items: center;
  display: flex;
  gap: 16px;
}

.wrapper > div {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 16px;
}

.inputWrapper {
  position: relative;
  width: 100%;
}

input, textarea, select {
  border: 1px solid transparent;
  border-bottom-color: #023031;
  border-radius: 2px;
  overflow: hidden;
  padding: 10px;
  transition: outline 0.1s ease-out;
  width: 100%;
}

.input:hover, .input:focus {
  border-bottom-color: #023031;
  outline: none;
}

.outlined .input {
  border-color: #023031;
}

.wrapper.outlined .input:hover, .wrapper.outlined .input:focus {
  border-color: transparent;
  outline: 2px solid green;
}

.iconWrapper {
  background-color: #023031;
  height: 100%;
  padding: 0 6px;
  position: absolute;
  right: 0;
}

.hidden {
  visibility: hidden;
}

.errorWrapper {
  align-items: center;
  display: flex;
  height: 24px;
  width: 24px;
}
